@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap');

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.main{
	margin-top: 5rem !important;
}

.pages-error{
	margin-top: 18% !important;
	text-align: center;
}

.error-msg-code{
	font-family: 'Alfa Slab One', cursive;
	font-size: 8rem !important;
	background: linear-gradient(to right, #0322ff  0%, #ff2300  100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

.error-msg-title{
	font-family: 'Alfa Slab One', cursive;
	font-size: 3rem !important;
	background: linear-gradient(to right, #0322ff  0%, #ff2300  100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;	
}

.custom-accordion{
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.tasks_container {
	font-size: 20px;
	margin-left: 50px;
	margin-bottom: 70px
}

.title-page{
	display: inline-block;
}

.d-ib{
	display: inline-block;
}

.c-w{
	color: #fff !important;
}